.App {
  text-align: center;
}

.header{
  min-height: 300px;
  line-height: 300px;
  text-align: center;
}

  .header h1{
    min-height: 300px;
    line-height: 300px;
  }

.rbt {
  margin: 20px 0;
}

